#!/bin/bash

echo "use \`untar\` to unzip .tar.gz"
echo "use \`desksync\` to sync the desktop to the phone"
echo "run \`ssh -p 4810 10.1.1.11\` to connect to Lenovo x201. Run ifconfig on the lenovo to check the IP. edit /etc/ssh/sshd_config to see the port and other settings"
echo ""
echo "I havce set up postgresql to run on login using \`brew services start postgresql\`. run \`brew services\` to see how to stop it."

function cdg() {
    cd ~/Workspace/go/src
}

function flamenco() {
    cd ~/Documents/Guitar/Flamenco
}

## This changes cd to be cd then ls -lah. I found this here: https://askubuntu.com/questions/16106/how-can-i-create-an-alias-for-cd-and-ls
function cd() {
    	new_directory="$*";
    	if [ $# -eq 0 ]; then 
		new_directory=${HOME};
	fi;
	builtin cd "${new_directory}" && ls -lah
}

## This changed directories to desktop
function desk() {
        cd ~/Desktop/
}
function mark {
    export $1=`pwd`;
} 
## when I want to remember a directory, I can just type, e.g. `mark there` then to change back to it I type `cd $there`

function trash {
        mv -fv $1 ~/.Trash
}
function whatatune {
~/Dropbox/Music/whatatune/Bash/downloadtags.sh
}

function playdesk() {
        #This function will play music files on the desktop. Or, more specifically, it will play a list of the files matched by the regular expression [.]m
        cd ~/Desktop/
        playlist=$(mktemp ${TMPDIR:-/tmp}/files.XXXXXX) #{} expand the variable so the path of TMPDIR is actually used. #where is this file stored??
        ls | grep [.]m > $playlist
        while read SONG
        do
                echo ""
                echo "playing $SONG"
                ffplay -showmode 1 -window_title "Desktop Playlist" -autoexit "$SONG"
        done < $playlist
        #for i in ./*.m4a; do ffplay -nodisp -autoexit "$i"; done #this is the original one liner I wanted to create. The only probably was that it won't play mp3s.
}

function playmusic() {
        #This function will play music files in the current folder. Or, more specifically, it will play a list of the files matched by the regular expression [.]m
        playlist=$(mktemp ${TMPDIR:-/tmp}/files.XXXXXX) #{} expand the variable so the path of TMPDIR is actually used. #where is this file stored??
        ls | grep [.]m > $playlist
        while read SONG
        do
                echo ""
                echo "playing $SONG"
                ffplay -showmode 1 -window_title "Desktop Playlist" -autoexit "$SONG"
        done < $playlist
        #for i in ./*.m4a; do ffplay -nodisp -autoexit "$i"; done #this is the original one liner I wanted to create. The only probably was that it won't play mp3s.
}

function playvids() {
        #This function will play videos recursivly
        playlist=$(mktemp ${TMPDIR:-/tmp}/files.XXXXXX)
        ls | grep [.]m > $playlist
        while read VIDEO
        do
                echo ""
                echo "playing $VIDEO"
                ffplay -showmode 0 -window_title "Video Playlist" -autoexit "$VIDEO"
        done < $playlist
}

function ffmpeg-trim {
  if (( $# < 2 )) || (( $# > 4 )); then
    echo "ffmpeg-trim takes at least 2 arguments:"
    echo "1.    input file"
    echo "2.    start time"
    echo "[3].  finish time. if not provided, will trim to the end."
    echo "[4].  timmed filename. if not provided, original will be overwritten"
    echo ""
    echo "Time can be privded as number of seconds, or [HH:]MM:SS."
    echo "Seconds expressed as a decimal are suppored in both cases"
    echo "See 'man ffmpeg-utils' and search for 'Time duration' for more info"
    return
  elif (( $# < 4 )); then
    # read -rsp $"No output filename give, original file will be overwritten.\nBackup will be created at /tmp\nPress any key to contines...\n" -n1 key
    cp --remove-destination ./$1 /tmp
  fi
  if (( $# == 2 )); then
    ffmpeg -i "$1" -ss $2 -c copy "$1" #FIXME: I don't think this is working. test it.
  elif (( $# == 3 )); then
    ffmpeg -i "$1" -ss $2 -c copy -to $3 "$1"
  elif (( $# == 4 )); then
    ffmpeg -i "$1" -ss $2 -c copy -to $3 "$4"
  fi
}

function ffmpeg-separate {
  if (( $# != 3 )); then
  # if [[ $# -eq 0 ]]; then
    echo "ffmpeg-separate takes 3 arguments:"
    echo "1. input file"
    echo "2. the timestamp to separate to (starting from 0)"
    echo "3. the name of the output file"
    echo "The original file will be trimmed. A backup will be put in /tmp"
    return
  fi
  if [ -f ./$1  ]; then
    cp --remove-destination "$1" /tmp
  fi
  if [ -f ./$3  ]; then
    echo "$3 exists. Delete and continue?[Y/n]"
    read answer
    if [ "$answer" = "Y" ]; then
      cp --remove-destination "$3" /tmp
      rm ./$3
    else
      echo "script cancelled"
      return
    fi
  fi
  ffmpeg-trim "$1" 0 "$2" "$3"
  ffmpeg-trim "$1" "$2"
}

function p-dl {
        # takes one argument - URL
        youtube-dl -o "./%(extractor)s/%(title)s.%(ext)s" $1
        # TODO: then touch file to update date edited.
}

function g() {
	    git "$@"
      if ! [[ $1 == "st" || $1 == "status" || $1 == "u" ]]; then
        git status
      fi
      # ls -lah
}

# jesi commands
function jesit {
  if [[ $# -eq 0 ]]; then
    echo "jesit will run 'npm test -- $1', you must pass it the name of a test file to run."
  else
    # runs jesi tests on specific file passed in 
    gnome-terminal -x bash -c "cd ~/Workspace/JESI/jesi-functional-tests; npm test -- $1; read -p 'Press [Enter] key to quit...'"
  fi
}

function t {
  if [[ -z "$CURRENT_TEST" ]]; then
    read -p "Which file do you want to test? " CURRENT_TEST
  else
    echo "CURRENT_TEST is set to $CURRENT_TEST"
  fi
  jesit $CURRENT_TEST
} 

function untar {
  if (( $# == 0 )); then
  # if [[ $# -eq 0 ]]; then
    echo "untar takes 1 argument: the *.tar.gz file to unzip"
    return
  fi
  tar -xvzf "$@"
}

function desksync {
  if (( $# == 0 )); then
    echo "desksync takes 1 argument - the host running the server to sync to."
    echo 'it will run `rsync --size-only -r ~/Desktop HOST:/sdcard/`'
    return
  fi
  # should I have this function take another argument in case I want to copy a different source?
  rsync -e 'ssh -p 2222' --size-only -r ~/Desktop $1:/sdcard/
}
