# Host *
#  AddKeysToAgent yes
#  IgnoreUnknown UseKeychain
#  UseKeychain yes
#  IdentityFile ~/.ssh/id_ed25519
# 
#   Host i-* mi-*
#   ProxyCommand sh -c "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
#   User ssm-user
# 
# Host github-aims
#   Hostname github.com
#   AddKeysToAgent yes
#   UseKeychain yes
#   IdentityFile ~/.ssh/id_ed25519_aims

# Not sure why, but the settings above don't always work. I will just have to manually change the IdentityFile when I need to use personal

Host *
 AddKeysToAgent yes
 IgnoreUnknown UseKeychain
 UseKeychain yes
 IdentityFile ~/.ssh/id_ed25519_aims
 
Host triton
  HostName 52.63.24.133
  User reefatlas
  IdentityFile /tmp/triton_ed25519.pem

Host HPC
  HostName hpc-l001.aims.gov.au
  User jjohnsto
  IdentityFile /home/jjohnsto/.ssh/id_ed25519_3JYJLX3_HPC
